table {
    border-collapse: collapse;
}

table tr:hover {
    background-color: #c7c7c7;
}

.left-aligned th
{
    text-align: left;
    <!-- background-color: blue; -->
}
.left-aligned td 
{
    text-align: left; 
    <!-- background-color: red; -->
}
