@model caa_mis.Models.Event

@{
    ViewData["Title"] = "Edit Event";
}


<h4>Edit Event @Model.Name</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" name="TransactionStatusID" id="TransactionStatusID" value="1">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 mb-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col col-lg-3 mb-6">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            
            <div class="col col-lg-3 mb-6">
                <label asp-for="BranchID" class="control-label">Origin Branch</label>
                <select asp-for="BranchID" class="form-control" asp-items="ViewBag.BranchID"></select>
                <span asp-validation-for="BranchID" class="text-danger"></span>
            </div>
            <div class="col col-lg-3 mb-6">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            
        </div>
        <div class="row">
            <div class="col col-lg-3 mb-6">
                <br />
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </div>
        
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
