@model caa_mis.Models.Bulk

@{
    ViewData["Title"] = "Create Initial Inventory";
}


<h1>Create New Inventory</h1>
<hr />

   
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="TransactionStatusID" id="TransactionStatusID" value="1">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 mb-6">
                <label asp-for="Date" class="control-label">Initial Inventory Date</label>
                <input asp-for="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="col col-lg-3 mb-6">
                <label asp-for="BranchID" class="control-label">Initital Inventory Branch</label>
                <select asp-for="BranchID" class="form-control" asp-items="ViewBag.BranchID"></select>
            </div>
            <div class=" col col-lg-3 mb-6">
                <label asp-for="EmployeeID" class="control-label">Employee</label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
            </div>
            <div class=" col col-lg-3 mb-6">
                <br />
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    
</form>
    
<br />
<div>
    
        
    
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
